<main class="app">
  <header class="app__header">
    <h1>Демо карт</h1>
    <p>Примеры использования библиотеки в отдельных компонентах.</p>
  </header>


    <nav class="app__nav">
      <a routerLink="/simple-map" routerLinkActive="is-active">Simple map</a>
      <a routerLink="/map-select-interaction" routerLinkActive="is-active">Map select interaction</a>
      <a routerLink="/map-point-mutate" routerLinkActive="is-active">Map point mutate</a>
      <a routerLink="/map-point-move" routerLinkActive="is-active">Map point move</a>
      <a routerLink="/simple-map-two-static-layers" routerLinkActive="is-active">Simple map two static layers</a>
      <a routerLink="/map-line-drag-points" routerLinkActive="is-active">Draggable points line</a>
      <a routerLink="/map-route-iterations" routerLinkActive="is-active">Route iterations demo</a>
      <a routerLink="/static-map-point-popup" routerLinkActive="is-active">Static map point popup</a>
      <a routerLink="/map-point-change-style" routerLinkActive="is-active">Map point change style</a>
      <a routerLink="/map-point-zoom-labels" routerLinkActive="is-active">Map point zoom labels</a>
    </nav>


  <section class="app__content">
    <router-outlet/>
  </section>
</main>
