<main class="app">
  <header class="app__header">
    <h1>Демо карт</h1>
    <p>Примеры использования библиотеки в отдельных компонентах.</p>
  </header>


    <nav class="app__nav">
      <a routerLink="/simple-map" routerLinkActive="is-active">Simple map</a>
      <a routerLink="/simple-map-two-static-layers" routerLinkActive="is-active">Simple map two static layers</a>
      <a routerLink="/static-map-point-popup" routerLinkActive="is-active">Static map point popup</a>
    </nav>


  <section class="app__content">
    <router-outlet/>
  </section>
</main>
